[Unit]
Description=Set NVIDIA GPU power limits
Wants=nvidia-persistenced.service
After=nvidia-persistenced.service
ConditionPathExists=/usr/bin/nvidia-smi

[Service]
Type=oneshot
ExecStart=/usr/bin/nvidia-smi -i 0 -pl 300
ExecStart=/usr/bin/nvidia-smi -i 1 -pl 300
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
